<div class="container">
{{#each items}}
<div class="result">
<div>
<img src="{{images.[0].url}}" alt="">
<h4>{{name}}</h4>
<a href="/albums/{{this.id}}">View Albums</a>
</div>

</div>

{{/each}}
</div>