  
<div class="background">

<div class="whitebg">
<form action="/artist-search" method="GET">
<input type="text" placeholder="Find your favourite artists" name="term"> <br>
<button>Search for an Artist</button>
</form>

</div>
</div>