<div>
<form action="/artists-search" method="GET">
			<input type="search" name="artist" placeholder="Search for an Artist..">
			<button class="button">Search for an Artist</button>
		</form>
    </div>